
# complete standard gitignore for a python project
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
# C extensions
*.so
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
eggs-info/
lib/
lib64/
# Installer logs
pip-log.txt
pip-delete-this-directory.txt
# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
# Translations
*.mo

# pytest cache directory
.pytest_cache/

# mypy
.mypy_cache/
# Pyre type checker
.pyre/
# Pytype
.pytype/
# PyCharm
.idea/
# VS Code
.vscode/
# Jupyter Notebook
.ipynb_checkpoints/
# Ruff
.ruff_cache/
# Virtual environment
venv/

home/**